<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "uk.org.dulwich.guide"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>EE Helper</name>

    <description>
        Engineers Helper
    </description>

    <author href="grigoryandavid.github.io" email="davidgrigoryan351@gmail.com">
        Davit Grigoryan
    </author>



</widget>