<ion-view title="Capacitors" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/jLddj9lSbSU9jfSLcDmw_maxresdefault.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="capacitors-markdown3" class="show-list-numbers-and-dots"></div>
    <div id="capacitors-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A capacitor is a passive two-terminal electronic component that stores potential energy in an electric field. The effect of a capacitor is known as capacitance. While some capacitance exists between any two electrical conductors in proximity in
        a circuit, a capacitor is a component designed to add capacitance to a circuit. The capacitor was originally known as a condenser or condensator.[1] The original name is still widely used in many languages, but not in English.</p>

      <p style="color:#000000;">The physical form and construction of practical capacitors vary widely and many capacitor types are in common use. Most capacitors contain at least two electrical conductors often in the form of metallic plates or surfaces separated by a dielectric
        medium. A conductor may be a foil, thin film, sintered bead of metal, or an electrolyte. The nonconducting dielectric acts to increase the capacitor's charge capacity. Materials commonly used as dielectrics include glass, ceramic, plastic film,
        paper, mica, and oxide layers. Capacitors are widely used as parts of electrical circuits in many common electrical devices. Unlike a resistor, an ideal capacitor does not dissipate energy.</p>

      <p style="color:#000000;">When two conductors experience a potential difference, for example, when a capacitor is attached across a battery, an electric field develops across the dielectric, causing a net positive charge to collect on one plate and net negative charge to
        collect on the other plate. No current actually flows through the dielectric, however, there is a flow of charge through the source circuit. If the condition is maintained sufficiently long, the current through the source circuit ceases. However,
        if a time-varying voltage is applied across the leads of the capacitor, the source experiences an ongoing current due to the charging and discharging cycles of the capacitor.</p>

      <p style="color:#000000;">Capacitance is defined as the ratio of the electric charge on each conductor to the potential difference between them. The unit of capacitance in the International System of Units (SI) is the farad (F), defined as one coulomb per volt (1 C/V). Capacitance
        values of typical capacitors for use in general electronics range from about 1 picofarad (pF) (10−12 F) to about 1 millifarad (mF) (10−3 F).</p>
    </div>
  </ion-content>
</ion-view>