<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.resistors()" id="home-button1" class="button button-positive button-block">Resistors</a>
    <a ui-sref="tabsController.resistorColourCode()" id="home-button2" class="button button-positive button-block">Resistor colour code </a>
    <a ui-sref="tabsController.capacitors()" id="home-button3" class="button button-positive button-block">Capacitors</a>
    <a ui-sref="tabsController.capacitorColourCode()" id="home-button4" class="button button-positive button-block">Capacitor colour code </a>
    <a ui-sref="tabsController.diodes()" id="home-button7" class="button button-positive button-block">Diodes </a>
    <a ui-sref="tabsController.transistors()" id="home-button8" class="button button-positive button-block">Transistors </a>
    <a href-inappbrowser="http://www.ohmslawcalculator.com/ohms-law-calculator" id="home-button6" class="button button-positive button-block">Ohm law calculator</a>
  </ion-content>
</ion-view>