<ion-view title="Schematics " id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/3c9Bc2kDRe5fdaF6hVq5_Bench-Power-Supply-Adjustable-1.25V-15V-and-Fix-5V.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="schematics-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Labaratory variable power supply.</p>
    </div>
    <div>
      <img src="img/iyVQZ4blQiGEOQWpXQty_function-generator-circuit1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="schematics-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Labaratory fuction generator</p>
    </div>
    <div>
      <img src="img/dpvqqQOoQkKbeIQx8eVv_astable-multivibrator.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="schematics-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Transistor circuit for practice.</p>
    </div>
  </ion-content>
</ion-view>