<ion-view title="Transistors " id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/CYzkXDUxRR6aVSd7HTe6_intro.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="transistors-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A transistor is a semiconductor device used to amplify or switch electronic signals and electrical power. It is composed of semiconductor material usually with at least three terminals for connection to an external circuit. A voltage or current
        applied to one pair of the transistor's terminals controls the current through another pair of terminals. Because the controlled (output) power can be higher than the controlling (input) power, a transistor can amplify a signal. Today, some transistors
        are packaged individually, but many more are found embedded in integrated circuits.</p>

      <p style="color:#000000;">The transistor is the fundamental building block of modern electronic devices, and is ubiquitous in modern electronic systems. Julius Edgar Lilienfeld patented a field-effect transistor in 1926[1] but it was not possible to actually construct a
        working device at that time. The first practically implemented device was a point-contact transistor invented in 1947 by American physicists John Bardeen, Walter Brattain, and William Shockley. The transistor revolutionized the field of electronics,
        and paved the way for smaller and cheaper radios, calculators, and computers, among other things. The transistor is on the list of IEEE milestones in electronics,[2] and Bardeen, Brattain, and Shockley shared the 1956 Nobel Prize in Physics for
        their achievement.</p>
    </div>
  </ion-content>
</ion-view>